{% extends "main.html" %}

{% block body %}
<div class="row" id="about">
    <div class="col">
        <h3>O aplikaci</h3>
        <p>
            Aplikace pro ovládání rolet s motory Somfy/Simu. Aplikace není samostatně funkční, vyžaduje aktivní
            jednotku, která komunikuje s roletami. Aplikace umožňuje ovládání rolet, definici vlastních skupin rolet
            a&nbsp;vytváření jednoducých pravidel pro automatizaci rolet.
        </p>
        <h3>Návod k použití</h3>
        <h4>Přidání rolety</h4>
        <p>
            V sekci "Settings", záložka "Blinds", klikněte na tlačítko "Add". Zobrazí se modální okno pro zadání ID rolety.
            Toto ID slouží později k definování skupin rolet (i jedna roleta = skupina), nikoliv k ovládání. Volte tedy
            jednoduchý název bez diakritiky, s malými písmeny. Může být použita pomlčka nebo podtržítko.
        </p>
        <p>
            Před potvrzením formuláře se ujistěte, že je roleta v programovacím módu. Potvrzením formuláře dojde
            k odeslání programovací sekvence. V případě úspěchu roleta provede krátký pohyb nahoru a dolu.
            Pokud se tak nestalo, můžete zkusit poslat programovací sekvenci znovu stisknutím "Try again".
        </p>
        <p>
            Pokud se nepodařilo ani takto, zruště programování stiskem "Abort". Vyčkejte několik minut, uveďte roletu znovu
            do programovacího módu a proces opakujte.
        </p>
        <h4>Přídání skupiny</h4>
        <p>
            Po úspěšném nastavení všech rolet můžete pokračovat v definici skupin rolet. Tyto skupiny slouží k ovládání,
            proto i jedna roleta může být skupinou.
        </p>
        <p>

        </p>
        <h4>Ovládání rolet</h4>
        <p>
            Bla bla bla, kecy prdy beďary...
        </p>
        <h3>Pokročilé</h3>
        <h4>Zadání pravidla</h4>
        <p>
            Test
        </p>
    </div>
</div>
{% endblock %}