{% extends "main.html" %}

{% block body %}
<div class="row" id="blinds">
    <div class="col bg-light left-col">
        {% for key in keys %}
        <div>
            <label><input type="radio" name="group" value="{{key}}" /> {{radios[key].nazev}}</label>
        </div>
        {% endfor %}
    </div>
    <div class="col text-center bg-white right-col">
        <div id="controls">
            <button type="button" class="btn btn-light" value="up"><i class="fas fa-arrow-alt-circle-up"></i> UP</button>
            <button type="button" class="btn btn-warning" value="stop"><i class="fas fa-stop-circle"></i> STOP</button>
            <button type="button" class="btn btn-dark" value="down"><i class="fas fa-arrow-alt-circle-down"></i> DOWN</button>
        </div>
    </div>
</div>
{% endblock %}