{% set navigation_bar = [
    ('blinds.index', 'Blinds / Control'),
    ('blinds.settings', 'Blinds / Settings'),
    ('blinds.about', 'Blinds / About')
] -%}

<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"><i class="fas fa-home"></i> Home Automation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {% for href, caption in navigation_bar %}
                <li class="nav-item {% if href == request.endpoint %}active{% endif %}"><a class="nav-link" href="{{ url_for(href) }}">{{ caption|e }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>