{% extends "main.html" %}

{% block body %}
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="blinds-tab" data-toggle="tab" href="#blinds" role="tab" aria-controls="blinds" aria-selected="true">Blinds <span class="badge badge-info">{{ blinds|length }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="false">Groups <span class="badge badge-info">{{ groups.items()|length }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="rules-tab" data-toggle="tab" href="#rules" role="tab" aria-controls="rules" aria-selected="false">Tasks <span class="badge badge-info">{{ tasks.items()|length}}</span></a>
            </li>
        </ul>
        <div class="tab-content" id="settinsTabContent">
            <!-- blinds -->
            <div class="tab-pane fade show active" id="blinds" role="tabpanel" aria-labelledby="blinds-tab">
                <button type="button" class="btn btn-sm btn-primary" value="add" style="margin-bottom: 10px;" data-target="#blinds-modal" data-toggle="modal">
                    <i class="fas fa-plus-square"></i> Add
                </button>
                <div>
                    <table class="table table-sm" id="blinds-list">
                        <thead>
                            <tr><th>ID</th><th>action</th></tr>
                        </thead>
                        <tbody>
                        {% for blind in blinds %}
                            <tr class="blinds-list-row">
                                <td class="blinds-list-blind">
                                    {{ blind }}
                                </td>
                                <td class="action-column">
                                    <a href="#" class="action text-info" data-blind="{{ blind }}" data-function="remove" title="Remove {{ blind }}"><i class="fas fa-trash"></i></a>
                                    <a href="#" class="action text-info" data-blind="{{ blind }}" data-function="prog" title="Program {{ blind }}"><i class="fas fa-cog"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- groups -->
            <div class="tab-pane fade" id="groups" role="tabpanel" aria-labelledby="groups-tab">
                <button type="button" class="btn btn-sm btn-primary" value="up" data-toggle="modal" data-target="#groups-modal" style="margin-bottom: 10px;">
                    <i class="fas fa-plus-square"></i> Add
                </button>
                <div id="groups-wrapper">
                    <table class="table table-sm" id="groups-list">
                        <thead>
                            <tr><th>Name</th><th>action</th></tr>
                        </thead>
                        <tbody>
                        {% for key, group in groups.items() %}
                            <tr class="groups-list-row">
                                <td class="groups-list-group">
                                    {{group.nazev}} ({{ group.mistnosti|length }})
                                </td>
                                <td class="action-column">
                                    <a href="#" class="action text-info" data-group="{{ key }}" data-function="view" data-target="#groups-modal" title="View {{ group.nazev }}"><i class="fas fa-eye"></i></a>
                                    <!--<a href="#" class="action text-info" data-group="{{ key }}" data-function="update" data-target="#groups-modal" title="Update {{ group.nazev }}"><i class="fas fa-wrench"></i></a>-->
                                    <a href="#" class="action text-info" data-group="{{ key }}" data-function="remove" title="Remove {{ group.nazev }}"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- rules -->
            <div class="tab-pane fade" id="rules" role="tabpanel" aria-labelledby="rules-tab">
                <button type="button" class="btn btn-sm btn-primary" value="up" data-toggle="modal" data-target="#tasks-modal" style="margin-bottom: 10px;"><i class="fas fa-plus-square"></i> Add</button>
                <div id="tasks-wrapper">
                    <table class="table table-sm" id="tasks-list">
                        <thead>
                            <tr><th>Name</th><th>action</th></tr>
                        </thead>
                        <tbody>
                        {% for key, task in tasks.items() %}
                            <tr class="tasks-list-row">
                                <td class="tasks-list-tasks">
                                    {{task.description}}
                                </td>
                                <td class="action-column">
                                    <a href="#" class="action text-info" data-task="{{ key }}" data-function="view" data-target="#tasks-modal" title="View"><i class="fas fa-eye"></i></a>
                                    <!--<a href="#" class="action text-info" data-task="{{ key }}" data-function="update" data-target="#tasks-modal" title="Update"><i class="fas fa-wrench"></i></a>-->
                                    <a href="#" class="action text-info" data-task="{{ key }}" data-function="remove" title="Remove"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- blinds add modal -->
<div class="modal fade" id="blinds-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="blind-add-form" data-action="{{url_for('blinds_blind_add')}}" data-method="PUT">
                <div class="modal-header">
                    <h5 class="modal-title">Add blind</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ bform.name.label }}
                        {% if bform.name.errors %}
                            {% for e in bform.name.errors %}
                                <p class="help-block">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                        {{ bform.name(class_='form-control') }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="blinds-add-submit">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- blind added modal -->
<div class="modal fade" id="blind-added-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Time to program your new shutter...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="blind-added-id" value="" />
                Did your window covering "jog"? If so, you are all set and your window covering has now learned your new remote. Proceed to click the "It worked!!" button below<br><hr>
                If your window covering did not "jog", let's try to program it again. A previously programmed remote can be used in order to add a new remote or channel to the blind.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">It worked</button>
                <button type="button" class="btn btn-secondary" id="blind-add-again">Try again</button>
                <button type="button" class="btn btn-secondary" id="blind-add-abort">Abort</button>
            </div>
        </div>
    </div>
</div>

<!-- groups add modal -->
<div class="modal fade" id="groups-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="group-add-form" data-action="{{url_for('blinds_group_add')}}" data-method="PUT">
                <div class="modal-header">
                    <h5 class="modal-title">Add group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ gform.nazev.label }}
                        {% if gform.nazev.errors %}
                            {% for e in gform.nazev.errors %}
                                <p class="help-block">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                        {{ gform.nazev(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ gform.id.label }}
                        {% if gform.id.errors %}
                            {% for e in gform.id.errors %}
                                <p class="help-block">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                        {{ gform.id(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ gform.mistnosti.label }}
                        {% if gform.mistnosti.errors %}
                            {% for e in gform.mistnosti.errors %}
                                <p class="help-block">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="row">
                            <div class="col">
                                <ul>
                                    {% for x in gform.boxes if gform.boxes.index(x) < ((gform.boxes|length) / 2) %}
                                    <li>
                                        <input class="form-check-input" id="mistnosti-{{ gform.boxes.index(x) }}" name="mistnosti[{{ x[1] }}]" type="checkbox" value="{{ x[0] }}">
                                        <label class="form-check-label" for="mistnosti-{{ gform.boxes.index(x) }}">{{ x[1] }}</label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    {% for x in gform.boxes if gform.boxes.index(x) >= ((gform.boxes|length) / 2) %}
                                    <li>
                                        <input class="form-check-input" id="mistnosti-{{ gform.boxes.index(x) }}" name="mistnosti[{{ x[1] }}]" type="checkbox" value="{{ x[0] }}">
                                        <label class="form-check-label" for="mistnosti-{{ gform.boxes.index(x) }}">{{ x[1] }}</label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="group-add-submit">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="tasks-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="task-add-form" data-action="{{url_for('blinds_blind_add')}}" data-method="PUT">
                <div class="modal-header">
                    <h5 class="modal-title">Add Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input class="form-check-input" id="taks-active" name="active" type="checkbox" value="1"
                                       data-toggle="toggle" data-width="100%"
                                       data-on="<i class='fa fa-check'></i> Active"
                                       data-off="<i class='fa fa-times'></i> Disabled"
                                >
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input class="form-check-input" id="task-direction" name="direction" type="checkbox" value="up"
                                       data-toggle="toggle" data-onstyle="primary" data-offstyle="success"
                                       data-on="<i class='fa fa-angle-up'></i> Up"
                                       data-off="<i class='fa fa-angle-down'></i> Down"
                                       data-width="100%"
                                >
                            </div>
                        </div>
                    </div>
                    <!-- vyber dni -->
                    <div class="form-group">
                        <div class="days-wrapper">
                        <!-- tohle nacitat nejakou komponentou -->
                        {% for x in [[1,'mo'],[2,'tu'],[3,'we'],[4,'th'],[5,'fr'],[6,'sa'],[7,'su']] %}
                            <input class="form-check-input" id="task-days-{{ x[0] }}" name="days[{{ x[0] }}]" type="checkbox" value="1"
                                   data-toggle="toggle" data-size="xs" data-on="{{ x[1] }}" data-off="{{ x[1] }}"
                                   data-onstyle="primary" data-offstyle="outline-secondary"
                            >
                        {% endfor %}
                        </div>
                    </div>
                    <!-- vyber dni -->
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <input class="form-check-input" id="task-sunrise" name="sunrise" type="checkbox" value="1"
                                       data-toggle="toggle" data-size="sm" data-onstyle="primary" data-offstyle="outline-secondary"
                                       data-on="<i class='fa fa-sun'></i>" data-off="<i class='fa fa-sun'></i>"
                                       data-width="100%" data-height="40px"
                                >
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input class="form-check-input" id="task-sunset" name="sunset" type="checkbox" value="1"
                                       data-toggle="toggle" data-size="sm" data-onstyle="primary" data-offstyle="outline-secondary"
                                       data-on="<i class='fa fa-moon'></i>" data-off="<i class='fa fa-moon'></i>"
                                       data-width="100%" data-height="40px"
                                >
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">@</span>
                                    </div>
                                    <input class="form-control" type="time" id="task-time" name="time">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- vyber rolet, multiselect -->
                    <div class="form-group">
                        <select multiple="multiple" class="form-control" name="blinds[]" id="task-blinds">
                        {% for blind in blinds %}
                        <option value="{{ blind }}">{{ blind }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="task-add-submit">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}