html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-top: 4.5rem;
}

body #messages {
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
}

body > .body-wrapper {
    min-height: 100%;
    height: calc(100vh - 4.5rem);
}

body #blinds:not(.tab-pane) {
    display: flex;
    align-items: stretch;
    height: 100%;
}

body #blinds:not(.tab-pane) .right-col {
    // margin-top: -16px;
    // padding-top: 16px;
}

body #blinds:not(.tab-pane) .right-col #controls {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

body #blinds:not(.tab-pane) .left-col {
    padding-top: 15px;
    padding-bottom: 15px;
}

body #blinds:not(.tab-pane) #controls button {
    width: 100px;
    margin-bottom: 15px;
}

body #blinds:not(.tab-pane) #controls button::last-of-type {
    margin-bottom: 0;
}

body #settinsTabContent {
    margin-top: 15px;
}

body .days-wrapper {
    display: inline-flex;
    width: 100%;
}

body .days-wrapper .toggle {
    flex-grow: 1;
    margin-right: 10px;
}

body .days-wrapper .toggle:last-of-type {
    margin-right: 0;
}

body table.table td.action-column a.action {
    margin-right: 10px;
}

body table.table td.action-column a.action:last-of-type {
    margin-right: 0;
}